# /etc/haproxy/haproxy.cfg
global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

#---------------------[FrontEnd]-----------------------
frontend ft_rdp
  mode tcp
  bind 10.1.0.101:443
  timeout client 5s
  log global
  option tcplog
  
  tcp-request inspect-delay 2s
  tcp-request content accept if { req.ssl_hello_type 1 }
  
  acl is_vm1-test req.ssl_sni -i vm1-test.elitarno.com
  acl is_vm2-test req.ssl_sni -i vm2-test.elitarno.com
  # acl is_vm3-test req.ssl_sni -i vm3-test.elitarno.com

  use_backend bk_vm1-test if is_vm1-test
  use_backend bk_vm2-test if is_vm2-test
  # use_backend bk_vm3-test if is_vm3-test

#---------------------[BackEnd]-----------------------
backend bk_vm1-test
  mode tcp
  timeout server 5s
  log global
  server vm1-test 10.1.0.100:443

backend bk_vm2-test
  mode tcp
  timeout server 5s
  log global
  server vm2-test 10.1.1.102:443

#backend bk_vm3-test
#  mode tcp
#  timeout server 5s
#  log global
#  server vm3-test 10.1.0.103:443
